
<div class="center">
    <h1>Sign Up for my mailing list.</h1> <h1 class="mt-2">Bet You won't.</h1>
    <form (ngSubmit)='onSubmit()' [formGroup]='registerForm'>
        <div class="">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" formControlName='email'>
            <small id="emailHelp" class="form-text text-muted">We'll share your email with anyone that asks... jk</small>
        </div>
        <div class="mt-3">
            <input formControlName='name' type="Name" class="form-control" placeholder="Name" placeholder='Enter name'>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
